<div class="container">

    <div class="container text-center" style="margin: 30px">
        <h3>Productos</h3>
    </div>
    

    <table class="table table-striped table-hover align-middle">
      <thead class="table-dark">
        <tr class="text-center">
          <th scope="col">Id</th>
          <th scope="col">Descripcion del Producto</th>
          <th scope="col">Precio</th>
          <th scope="col">Stock</th>  
          <th class="text-center" scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center" *ngFor="let producto of productos">
          <th scope="row">{{ producto.idProducto }}</th>
          <td>{{ producto.descripcion }}</td>
          <td>{{ producto.precio }}</td>
          <td>{{ producto.stock }}</td>
          <td class="text-center">
            <button class="btn btn-warning btn-sm me-3" (click)="openByDocument(producto)">Editar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarProducto(producto.idProducto)">Eliminar</button>            
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Modal Heading</h4>
        <button type="button" class="btn-close" (click)="closeModelByDocument()" aria-label="Close"></button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body" *ngIf="productoEditado">
        <div class="mb-3">
          <label for="nombre" class="form-label">Descripcion del Producto</label>
          <input type="text" id="nombre" class="form-control" [(ngModel)]="productoEditado.descripcion">
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Precio</label>
          <input type="text" id="apellido" class="form-control" [(ngModel)]="productoEditado.precio">
        </div>
        <div class="mb-3">
          <label for="telefono" class="form-label">Stock</label>
          <input type="text" id="telefono" class="form-control" [(ngModel)]="productoEditado.stock">
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer d-flex text-center justify-content-between">
        <button type="button" class="btn btn-danger" (click)="closeModelByDocument()">Cerrar</button>
        <button type="button" class="btn btn-success" (click)="actualizarProducto()">Actualizar</button>
      </div>
